@import url(./global.css);
@import url(./neon-button.css);
@import url(./header-footer.css);

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(60, 66, 89);
  background-image: url(../Images/DALL-E-main-img.webp);
  background-blend-mode: multiply;
  background-position: center; /*url(./Images/DALL-E-main-img.webp);*/
  background-size: cover;
  padding-left: 20%;
  padding-right: 20%;
  min-height: 50vh;
}

p {
  font-size: 2vh;
  font-weight: 400;
}

.text-section1 {
  color: white;
  display: flex;
  flex-direction: column;
}

.navigation-button-section1-index {
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
}

.navigate-to-exhibition-button {
  display: none;
}

.exhibitions-container-index,
.opening-hours-container-index,
.contribute-container-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  height: 20em;
  border: 2px solid;
  border-color: rgb(255, 20, 189);
}

.exhibitions-container-index {
  background-image: url(../Images/resized-img/andrew-ruiz-348421.jpg);
}

.opening-hours-container-index {
  background-image: url(../Images/resized-img/opening-hours-index.jpg);
}

.contribute-container-index {
 background-image: url(../Images/people-219985_1280.jpg);
}

.container2 {
  display: flex;
  flex-direction: column;
  margin-left: 4em;
  margin-right: 4em;
}
.container2 img {
 display: flex;
 border-radius: 50%;
 width: 25vh;
 height: 25vh;
 object-fit: cover;
 margin: 5%;
 border: 3px solid;
 border-color: rgb(255, 20, 189);
 box-shadow: inset 0 0 0.5em 0 rgb(255, 20, 189), 0 0 0.5em 0 rgb(255, 20, 189);
}

.container2-right-index,
.container2-left-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6%;
  margin-right: 6%;
}

.container3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  margin: 2%;
}

@media screen and (max-width: 700px) {
  .container2-left-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
  }

  .container2-right-index {
    flex-direction: column-reverse;
  }

  .container3 {
    flex-direction: column;
  }
}


 