* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
}

.box {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rocket {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animate 0.2s ease infinite;
}

.rocket img {
  width: 150px;
}

@keyframes animate {
  0%, 100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

.rocket::before {
  position: absolute;
  content: "";
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(#fac001, transparent);
  width: 10px;
  height: 200px;
  border-radius: 5px;
}

.rocket::after {
  position: absolute;
  content: "";
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(#fac001, transparent);
  width: 10px;
  height: 200px;
  filter: blur(20px);
}

/*https://www.youtube.com/watch?v=LROVgl2cIPk*/