.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(60, 66, 89);
  background-image: url(Images/DALL-E-main-img.webp);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  padding-left: 20%;
  padding-right: 20%;
  min-height: 50vh;
}

p {
  font-size: 2vh;
  font-weight: 400;
}

.text-section1 {
  color: white;
  display: flex;
  flex-direction: column;
 
}

.navigation-button-section1-index {
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
}

.navigation-buttons-container2-index,
.navigate-to-exhibition-button {
    display: inline-block;
    background-color: rgb(65, 78, 37); 
    color: white; 
    padding: 15px 40px; 
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;

    transition: background-color 0.3s;
}

.navigate-to-exhibition-button a,
.navigation-buttons-container2-index a {
  
  color: white; 
  text-decoration: none;
}

 

.exhibitions-container-index,
.opening-hours-container-index,
.contribute-container-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  height: 20em;
  border: 3px solid;
  border-color: rgb(65, 78, 37);
  
}

.exhibitions-container-index {
  background-image: url(Images/resized-img/andrew-ruiz-348421.jpg);
  
}

.opening-hours-container-index {
  background-image: url(Images/resized-img/opening-hours2.jpg);

}

.contribute-container-index {
 background-image: url(Images/people-219985_1280.jpg);
}

.container2 {
  display: flex;
  flex-direction: column;
  margin-left: 4em;
  margin-right: 4em;
}
.container2 img {
 display: flex;
 border-radius: 50%;
 width: 12em;
 height: 12em;
 object-fit: cover;
 margin: 5%;
 border: 3px solid;
 border-color: rgb(65, 78, 37);
}



.container2-right-index,
.container2-left-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6%;
  margin-right: 6%;
}

.container3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  margin: 2%;
  
}




@media screen and (max-width: 700px) {
  .container2-left-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
  }

  .container2-right-index {
    flex-direction: column-reverse;
  }

  .container3 {
    flex-direction: column;
  }
}


